@charset "UTF-8";

/* リセット開始(ブラウザのデフォルトをあてにしない) */

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6,p {
  margin-bottom: 6pt;
}

ol,ul,dl {
  list-style-position: inside;
}

/* リセット完了 */

/* 標準セレクタ開始 */

body {
  font: 10pt 'Trebuchet MS', Verdana, Helvetica, Arial, Meiryo, sans-serif;
  color: #444;
  background: #fff;
}

a {
  text-decoration: none;
}

a:link,
a:visited {
  color: inherit;
}

a:hover {
  text-decoration: underline;
}

strong {
  font-weight: 800;
  color: #000;
}

/* 標準セレクタ終了 */

/* 全体コンテナ */
/* オーバーフローを禁止して、ウィンドウ全体でスクロールバーが出ないようにする */
/* 位置をabusolute指定しているので、調整が難しい */
div#d3cdp {
  position: absolute;
  top: 5em;
  left: 1em;
  right: 1em;
  bottom: 1em;
  max-width: 960px;
  border: thin solid #888;
  overflow: hidden;
}

/* cdp-bodyクラスのdivを作り、その中にスクロールバーを出す */
div#d3cdp #cdp-body {
  width: 100%;
  height: 100%;
  overflow: scroll;
}

.cdp-device {
  fill: #fff;
  stroke: blue;
  stroke-width: 1.5px;
}

.cdp-port {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 1.0px;
}

.cdp-node-title {
  font: 8px sans-serif;
  pointer-events: none;
  /*font-weight  : bold;*/
}

.cdp-link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.0px;
}

/* container for radiolink */

.cdp-local-selector {
  position: absolute;
  margin: 10px;
  border: 1px solid #6895b4;
}

/* radiolink */

.rl-contents {
  float: left;
  padding: 5px;
  padding-right: 0px;
  margin: 5px;
  margin-right: 0px;
}

.rl-contents a {
  color: black;
  font-size: 12px;
  padding: 5px;
  background: #E2E2E2;
  cursor: pointer;
  margin-right: 10px;
  text-decoration: none;
}

.rl-contents a:hover {
  text-decoration: underline;
}

.rl-contents a.active {
  color: white;
  background: #555;
}

/* container for checkbox */

.cdp-device-selector {
  position: absolute;
  right: 20px;
  /*bottom: 20px;*/
  margin: 10px;
  padding: 10px;
  border: 1px solid #6895b4;
  min-height: 50px;
  min-width: 180px;
  z-index: 1;
}

/* checkbox */

.cb-contents {
  margin-bottom: 5px;
}

.cb-contents label {
  font-family: Arial, sans-serif;
  font-size: 14px;
  font-weight: bold;
}

.cb-interaction-group {
  margin-left: 10px;
  margin-top: 5px;
  clear: both;
}

.cb-checkbox-container {
  display: block;
  min-height: 22px;
  margin-left: 10px;
}

.cb-checkbox-container label {
  display: inline;
}

.cb-links {
  float: left;
  padding-left: 5px;
}

.cb-links a {
  color: black;
  font-size: 12px;
  padding: 5px;
  background: #E2E2E2;
  cursor: pointer;
  margin-right: 10px;
  text-decoration: none;
}

.cb-links a:hover {
  text-decoration: underline;
}

.cb-links a.active {
  color: white;
  background: #555;
}

